<include file="/public/header" />
<include file="/public/header" />
<!-- // 重定位Style -->
<style>
    html, body,.layui-fluid, .layui-card,.layui-card-body,.layui-col-md3,.layui-col-md9 {
        height: 100%;
    }
    .layui-card-header.layuiadmin-card-header-auto {
        border-bottom: 0px;
        padding-bottom: 0px;
    }
</style>
<!-- // 展示数据 -->
<div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-card-header">更新日志</div>
      <div class="layui-card-body">
          <iframe src="http://www.swiftadmin.net/update.html" frameborder="0" style="height: 93%;width: 100%" ></iframe>
      </div>
    </div>
</div>



<include file="/public/footer" />
<script>
    layui.use(['admin'], function () {

        var admin = layui.admin;

    });
</script>
