<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>编辑评论 | {$site_name}</title>
  <include file="user:include"/>
</head>
<body>

<div class="layui-card-body">
  <form action="/user/commentedit" class="layui-form layui-form-fixed">
    <input type="text" name="id" hidden value="{$data.id}">
    <div class="layui-form-item">
      <label class="layui-form-label">我的评论</label>
      <div class="layui-input-block">
        <textarea name="content" class="layui-textarea" id="" cols="30" rows="10">{$data.content}</textarea>
      </div>
    </div>

    <div class="layui-form-item" style="margin-top: 22px;text-align: center;">
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
      <button type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="submitIframe">立即提交</button>
    </div>
  </form>
</div>
</body>
</html>