<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SwiftAdmin 用户登录</title>
<include file="public:header" />
</head>
<body>

<div class="layui-fluid">
	<div class="login-link">
		<span class="other">第三方账号登录：</span> 
		<span>
			<a href="{:url('/third/login',['type'=>'weixin'])}" target="_blank" class="layui-icon layui-icon-login-wechat"></a>
			<a href="{:url('/third/login',['type'=>'qq'])}"  target="_blank" 	class="layui-icon layui-icon-login-qq"></a>
			<a href="{:url('/third/login',['type'=>'weibo'])}" target="_blank"  class="layui-icon layui-icon-login-weibo"></a>
		</span>
	</div>
	<form class="layui-form layui-form-fixed" action="/user/login" method="post" >
		<div class="layui-form-item">
		<label class="layui-form-label">用户帐号</label>
		<div class="layui-input-block">
		  <input type="text" id="name" name="nickname" lay-verify="required|email" placeholder="请输入邮箱或手机号" class="layui-input" value="test@swiftadmin.net">
		</div>
		</div>
		<div class="layui-form-item">
		<label class="layui-form-label">密码</label>
		<div class="layui-input-block">
		  <input type="password" id="pwd" name="pwd"  placeholder="请输入密码" class="layui-input" value="admin888">
		</div>
		</div>
		<div class="layui-form-item" style="margin-top: 22px;text-align: center;">

			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			<button type="submit" class="layui-btn" lay-submit="" lay-filter="submitIframe" data-reload="top">立即登录</button>
		</div>				
	</form>								
</div>
</body>

</html>