<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SwiftAdmin 用户注册</title>
    <include file="public:header">
        </head>
<body>

<div class="layui-fluid">
    <form class="layui-form layui-form-fixed" action="/user/register" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">用户帐号</label>
            <div class="layui-input-block">
                <input type="text" name="nickname" placeholder="请输入帐号" class="layui-input" >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="password" id="pwd" name="pwd" placeholder="请输入密码" class="layui-input" >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-block">
                <input type="password" id="repwd" name="repwd" placeholder="请输入确认密码" class="layui-input">
            </div>
        </div>
        <php> $reg_type = saenv('user_register_style');</php>
        <eq name="reg_type" value="mobile">
            <div class="layui-form-item">
                <label class="layui-form-label">手机号</label>
                <div class="layui-input-block">
                    <input type="text" id="mobile" name="mobile" placeholder="请输入手机号" lay-verify="phone" class="layui-input" >
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">验证码</label>
                <div class="layui-input-block">
                    <input type="text" name="captcha" placeholder="{:__('验证码')}" class="layui-input captcha">
                    <div class="captcha fr">
                        <button id="captcha" type="button" class="layui-btn">获取验证码</button>
                    </div>
                </div>

            </div>

            <else/>
            <div class="layui-form-item">
                <label class="layui-form-label">邮箱地址</label>
                <div class="layui-input-block">
                    <input type="text" name="email" lay-verify="email" placeholder="请输入邮箱" class="layui-input" >
                </div>
            </div>
        </eq>


        <div class="layui-footer" style="text-align: center;">
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="submitIframe">立即提交</button>
        </div>
    </form>
</div>
</html>