<!--// hook前台菜单-->
{:hook('user_sidenav_before')}
<ul class="layui-nav layui-nav-tree" lay-filter="master">
	<li class="layui-nav-item {:usenav_highlighted('/user/index')}"><a href="/user/index">控制台</a></li>
	<li class="layui-nav-item {:usenav_highlighted('/user/order')}"><a href="/user/order">订单管理</a></li>

	<li class="layui-nav-item {:usenav_highlighted('/user/notice')}"><a href="/user/notice">消息中心</a></li>
	<li class="layui-nav-item layui-nav-itemed">
		<a class="#" href="javascript:;">账号设置</a>
		<dl class="layui-nav-child">
			<dd class="{:usenav_highlighted('/user/appid')}"><a href="/user/personal">实名认证</a></dd>
			<dd class="{:usenav_highlighted('/user/appid')}"><a href="/user/comment">我的评论</a></dd>
			<dd class="{:usenav_highlighted('/user/appid')}"><a href="/user/gbook">我的留言</a></dd>
		</dl>
	</li>
</ul>
{:hook('user_sidenav_after')}