<include file="/public/header" />
<!-- 重定位style -->
<style>
    .form-item-title {
        text-align: center;
        position: relative;
    }

    .form-item-title:before {
        content: "";
        position: absolute;
        border-top: 1px dashed #ccc;
        left: 40px;
        right: 40px;
        top: 8px;
        z-index: -1;
    }

    .form-item-title > span {
        background-color: white;
        padding: 0 10px;
        font-size: 13px;
        color: #666;
    }    

    .layui-tab-content {
      background-color: #fff;
    }

    .layui-form-item .layui-input-inline {
        width: 300px;
    }

    .layui-short-select .layui-form-select {
        display: inline-block;
        width: 95px;
    }

</style>
<div class="layui-fluid">
    <div class="layui-card">
        <!-- // 默认操作按钮 -->
        <div class="layui-card-body">
        <form id="baseForm" action="{:url('/system.rewrite/basecfg')}" lay-filter="baseForm" class="layui-form layui-row model-form" style="padding: 0px; " wid100>

            <div class="layui-tab layui-tab-brief" style="margin: 0px;margin-bottom: 10px;">
              <ul class="layui-tab-title">
                <li class="layui-this">静态生成</li>
                <li>URL设置</li>                                     
              </ul>

                <div class="layui-tab-content pl30">
                    <div class="layui-tab-item layui-show" >
                        <div class="layui-form-item ">
                            <php> $createhref = cache('createHtml'); </php>
                            <notempty name="createhref">
                            <label class="layui-form-label">生成提醒</label>
                            <a href="{$createhref}" style="color: red" >当前存在未完成的生成任务，点击开始...</a>
                            </notempty>
                        </div>

                        <div class="layui-form-item ">
                            <label class="layui-form-label">生成首页</label>
                            <div class="layui-input-inline">
                                <button type="button" class="layui-btn createindex" value="index">生成首页</button> 
                            </div>       
                        </div>
                        <div class="layui-form-item ">
                            <label class="layui-form-label">最大分页</label>
                            <div class="layui-input-inline">
                                <select name="rewrite[max_page]">
                                    <option value="">不限制</option> 
                                    <option value="10" <eq name="$rewrite['max_page']" value="10"> selected </eq> >10页</option> 
                                    <option value="50" <eq name="$rewrite['max_page']" value="50"> selected </eq> >50页</option> 
                                    <option value="100" <eq name="$rewrite['max_page']" value="100"> selected </eq> >100页</option>             
                                </select>
                            </div>           
                        </div>
                        <div class="layui-form-item ">
                            <label class="layui-form-label">列表生成</label>
                            <div class="layui-input-inline">
                                <div id="pid"></div>
                            </div>       
                            <button type="button" class="layui-btn createhtml" value="category">生成</button>         
                        </div>

                        <div class="layui-form-item ">
                            <label class="layui-form-label">内容生成</label>
                            <div class="layui-input-inline">
                                <div id="cid"></div>        
                            </div>       
                            <button type="button"  class="layui-btn createhtml" value="content">生成</button>        
                        </div>            

                        <div class="layui-form-item ">
                            <label class="layui-form-label">地图生成</label>
                            <div class="layui-input-inline">
                                <select id="channel">
                                    <option value="">{:__('请选择模型')}</option>
                                    <salibs:channel id="vo">
                                        <option value="{$vo.id}" >{$vo.title}</option>
                                    </salibs:channel>
                                </select>
                            </div>       
                            <button type="button" class="layui-btn createmap"  value="channel">生成</button>         
                        </div>
                    </div>

                    <div class="layui-tab-item">

                      <div class="layui-form-item ">
                        <label class="layui-form-label">URL模式</label>
                        <div class="layui-input-inline" style="width:300px;">
                            <input type="radio" name="rewrite[url_model]"   
                                value="1" title="伪静态"  <if condition="$rewrite['url_model'] eq 1 "> checked </if> >
                            <input type="radio" name="rewrite[url_model]"   
                                value="2" title="纯静态"  <if condition="$rewrite['url_model'] eq 2 "> checked </if> >
                            <input type="radio" name="rewrite[url_model]"   
                                value="0" title="动态URL" <if condition="$rewrite['url_model'] eq 0 "> checked </if> >
                        </div>
                      </div>

                      <div class="layui-form-item ">
                        <label class="layui-form-label">域名生成</label>
                        <div class="layui-input-inline">
                            <select name="rewrite[url_domain]">
                                <option value="1" <eq name="$rewrite['url_domain']" value="1" > selected="" </eq> >{:__('开启')}</option>
                                <option value="0" <eq name="$rewrite['url_domain']" value="0" > selected="" </eq> >{:__('关闭')}</option>
                            </select>
                        </div>
                        <div class="layui-form-mid layui-word-aux">* 推荐开启域名生成，更利于SEO优化</div>
                      </div>

                      <div class="layui-form-item ">
                        <label class="layui-form-label">栏目页</label>
                            <div class="layui-input-inline " >
                                <select name="rewrite[category_style]" >
                                    <option value="">请选择栏目页模式</option> <volist name="catePage" id="vo">
                                    <option value="{$vo}" <if condition="$rewrite['category_style'] eq $vo "> selected </if> >{$vo}</option>
                                    </volist>
                                </select>
                            </div>  
                            <div class="layui-form-mid layui-word-aux">* 栏目页URL格式，推荐/listdir/</div>                    
                      </div>

                      <div class="layui-form-item ">
                        <label class="layui-form-label">列表页</label>
                            <div class="layui-input-inline " >
                                <select name="rewrite[list_style]" >
                                    <option value="">请选择分类页模式</option> <volist name="list_style" id="vo">
                                    <option value="{$vo}" <if condition="$rewrite['list_style'] eq $vo "> selected </if> >{$vo}</option>
                                    </volist>
                                </select>
                            </div>  
                            <div class="layui-form-mid layui-word-aux">* 列表页URL格式，推荐/listdir/listPage.html</div>                    
                      </div>

                      <div class="layui-form-item ">
                            <label class="layui-form-label">内容页</label>
                            <div class="layui-input-inline">
                                <select name="rewrite[content_style]" >
                                    <option value="">请选择内容页模式</option> <volist name="content_style" id="vo">
                                    <option value="{$vo}" <if condition="$rewrite['content_style'] eq $vo "> selected </if> >{$vo}</option>
                                    </volist>
                                </select>
                            </div>  
                          <div class="layui-form-mid layui-word-aux">* 内容页URL格式，推荐/listdir/id/</div>                    
                      </div>     

                      <div class="layui-form-item ">
                        <label class="layui-form-label">筛选页</label>
                          <div class="layui-input-inline">
                              <input name="rewrite[search_style]" type="text" class="layui-input"  lay-verify="required" value="{$rewrite.search_style}"/>
                          </div>  
                          <div class="layui-form-mid layui-word-aux">* 筛选页URL格式，参数id/pid/cid/tid/hid...自选</div>                    
                      </div>  

                    <fieldset class="layui-elem-field layui-field-title"><legend style="font-size: 16px">sitemap设置</legend></fieldset>  
                    <div class="layui-form-item ">
                      <label class="layui-form-label">自动生成</label>
                        <div class="layui-input-inline">
                            <input type="radio" name="sitemap[map_status]"   
                            value="1" title="开启"  <if condition="$sitemap['map_status'] eq 1 "> checked </if>>
                            <input type="radio" name="sitemap[map_status]"   
                            value="0" title="关闭"  <if condition="$sitemap['map_status'] eq 0 "> checked </if>>                            
                        </div>  
                        <div class="layui-form-mid layui-word-aux">* 更新内容时候自动更新网站地图</div> 
                    </div>
                    <div class="layui-form-item ">
                        <label class="layui-form-label">更新频率</label>
                        <div class="layui-input-inline layui-short-select">
                            <select name="sitemap[map_index_freq]" >
                                <option value="">首页</option>
                                <option value="always" selected="true">实时</option>
                                <option value="hourly">每小时</option>
                                <option value="daily">每天</option>
                                <option value="weekly">每周</option>
                                <option value="monthly">每月</option>
                                <option value="yearly">每年</option>
                                <option value="never">从不</option>
                            </select>   
                            <select name="sitemap[map_list_freq]" >
                                <option value="">列表页</option>
                                <option value="always">实时</option>
                                <option value="hourly" selected="true">每小时</option>
                                <option value="daily">每天</option>
                                <option value="weekly">每周</option>
                                <option value="monthly">每月</option>
                                <option value="yearly">每年</option>
                                <option value="never">从不</option>
                            </select> 
                            <select name="sitemap[map_content_freq]">
                                <option value="">内容页</option>
                                <option value="always">实时</option>
                                <option value="hourly">每小时</option>
                                <option value="daily" selected="true">每天</option>
                                <option value="weekly">每周</option>
                                <option value="monthly">每月</option>
                                <option value="yearly">每年</option>
                                <option value="never">从不</option>
                            </select>                          
                        </div>
                        <div class="layui-form-mid layui-word-aux"><font color="red">* </font>XML地图文件changefreq字段值。</div>
                    </div>
                    
                    <div class="layui-form-item ">
                      <label class="layui-form-label">priority优先级</label>
                       <div class="layui-input-inline layui-short-select">
                            <select name="sitemap[map_index_priority]" >
                                <option value="">首页</option>
                                <option value="0.1">0.1</option>
                                <option value="0.2">0.2</option>
                                <option value="0.3">0.3</option>
                                <option value="0.4">0.4</option>
                                <option value="0.5">0.5</option>
                                <option value="0.6">0.6</option>
                                <option value="0.7">0.7</option>
                                <option value="0.8">0.8</option>
                                <option value="0.9">0.9</option>
                                <option value="1.0" selected >1.0</option>
                            </select>   
                            <select name="sitemap[map_list_priority]" >
                                <option value="">列表页</option>
                                <option value="0.1">0.1</option>
                                <option value="0.2">0.2</option>
                                <option value="0.3">0.3</option>
                                <option value="0.4">0.4</option>
                                <option value="0.5">0.5</option>
                                <option value="0.6">0.6</option>
                                <option value="0.7">0.7</option>
                                <option value="0.8" selected >0.8</option>
                                <option value="0.9">0.9</option>
                                <option value="1.0">1.0</option>
                            </select> 
                            <select name="sitemap[map_content_priority]" >
                                <option value="">内容页</option>
                                <option value="0.1">0.1</option>
                                <option value="0.2">0.2</option>
                                <option value="0.3">0.3</option>
                                <option value="0.4">0.4</option>
                                <option value="0.5">0.5</option>
                                <option value="0.6" selected >0.6</option>
                                <option value="0.7">0.7</option>
                                <option value="0.8">0.8</option>
                                <option value="0.9">0.9</option>
                                <option value="1.0">1.0</option>
                            </select>                          
                       </div>
                       <div class="layui-form-mid layui-word-aux"><font color="red">* </font>XML地图文件priority字段值。</div>
                    </div>
                    <div class="layui-form-item ">
                      <label class="layui-form-label">生成XML上限</label>
                        <div class="layui-input-inline">
                            <input name="sitemap[map_xml_max]" type="text" 
                                class="layui-input" maxlength="5"  lay-verify="required" value="{$sitemap.map_xml_max}"/>
                        </div>  
                        <div class="layui-form-mid layui-word-aux">* 单个XML地图文件地址上限。</div>               
                    </div>
                    <div class="layui-form-item ">
                      <label class="layui-form-label">地图保存目录</label>
                        <div class="layui-input-inline">
                            <input name="sitemap[map_xml_path]"  type="text" 
                                class="layui-input"  lay-verify="required" value="{$sitemap.map_xml_path}"/>
                        </div>     
                        <div class="layui-form-mid layui-word-aux"><font color="red">* </font>XML文件目录，建议非根目录防止被采集！</div>          
                    </div>   
                    <div class="layui-form-item ">
                        <label class="layui-form-label">实时推送token</label>
                        <div class="layui-input-inline">
                            <input name="sitemap[map_xml_token]"  type="text" 
                                class="layui-input"  lay-verify="required" value="{$sitemap.map_xml_token}"/>
                        </div>     
                        <div class="layui-form-mid layui-word-aux"><font color="red">* 百度搜索资源平台</font> 的准入密钥,发布文章实时推送！</div>          
                    </div> 

                    <div class="layui-form-item ">
                        <label class="layui-form-label">数据实时统计</label>
                        <div class="layui-input-inline">
                            <div style="height: 33px;line-height: 33px">
                                XML文件 <span class="layui-badge layui-bg-blue">{$sitemap.count}</span> 个，
                                地址 <span class="layui-badge layui-bg-cyan">{$sitemap.total}</span> 条，
                            </div>
                        </div>     
                        <div class="layui-form-mid layui-word-aux"><font color="red">* </font>当前已生成的XML文件和URL地址数量！</div>          
                    </div>
                    <div class="layui-footer layui-form-item layui-center "  >
                        <button class="layui-btn layui-btn-primary" type="button" sa-event="closePageDialog" >{:__('取消')}</button>
                        <button class="layui-btn" lay-filter="submitIframe" lay-submit >{:__('提交')}</button>
                    </div>
                  </div>

              </div>
        </form>
        </div>
    </div>
</div>
<include file="/public/footer" />
<script>
    var categorylist = {:get_category_json()};
</script>
<script src="__STATICADMIN__module/xmselect/xmselect.js"></script>
<script type="text/javascript">
    layui.use(['content'],function(){

        var jquery = layui.jquery;
        var contents = layui.content;

        // 生成首页
        jquery('.createindex').click(function(){
            self.location.href = "{:url('/system.rewrite/createIndex')}";
            return false;
        })

        // 常规元素渲染
        contents.xmselect('pid',categorylist,[],false);
        contents.xmselect('cid',categorylist,[],false);

        // 生成栏目页/列表页/内容页
        jquery('.createhtml').click(function(){
            try {
                var url = '',
                type = jquery(this).attr('value'),
                elem = eval(type);
                console.log(elem);
                return;
                url  = elem.getValue()[0].id;
                url  = '&id='+url;
            }catch(error) {}
            self.location.href = "{:url('/system.rewrite/createHtml')}?type=" + type + url;
        })

        // 生成模型地图  
        jquery('.createmap').click(function(){
            var model = jquery('#channel').val();
            self.location.href = "{:url('/system.rewrite/createMap')}?model="+model;
        })
    })

</script>
