<include file="/public/header" />
<style>
    body {
        position: absolute;
        overflow-y:scroll;
        background-color: #fff;
    }
    .layui-card-body {
        padding-left: 0;
    }

    .layui-form-item .layui-word-aux {
        padding-top: 6px!important;
    }
    .layui-form-item .layui-input-fullIP {
        width: 80%;
        word-break: break-word;
    }

    td,.del,input,select {
        font-size: 12px;
    }
    .del {
        cursor: pointer;
    }

    .del:hover {
        color: red;
    }

    .layui-elem-field legend {
        font-size: 16px;
    }

</style>
<php>
    $field_type = ['text'=>'文本型','string'=>'字符型','long'=>'数字型','date'=>'日期型','float'=>'浮点型','boolean'=>'布尔型','binary'=>'二进制'];
    $field_index = ['none'=>'默认索引','true'=>'字段索引','false'=>'关闭索引'];
    $field_analyzer = ['default'=>'default','ik_max_word'=>'ik_max_word','ik_smart'=>'ik_smart'];
</php>
<div class="layui-fluid">
    <form class="layui-form" action="{:url('/system.fulltext/fields')}">
    <gt name="$data.id" value="0"><input type="text" name="id" value="{$data.id}" hidden=""></gt>
    <fieldset class="layui-elem-field">
        <legend>项目信息</legend>
        <div class="layui-field-box">
            <div class="layui-form-item">
                <label class="layui-form-label">{:__('项目名称')}</label>
                <div class="layui-input-inline">
                    <div class="layui-form-mid layui-word-aux" >{$data.name}</div>
                </div>
                <label class="layui-form-label">{:__('服务器类型')}</label>
                <div class="layui-input-inline">
                    <div class="layui-form-mid layui-word-aux" >{$data.type}</div>
                </div>
            </div>
            <!-- // ElasticSearch -->
            <div class="layui-form-item">
                <label class="layui-form-label"><font color="red">* </font>{:__('服务器IP')}</label>
                <div class="layui-input-inline layui-input-fullIP">
                    <div class="layui-form-mid layui-word-aux" >{$data.index}</div>
                </div>
            </div>
        </div>
      </fieldset>
      <fieldset class="layui-elem-field" style="margin-top: 10px;">
        <legend>字段集设计</legend>
        <div class="layui-field-box">
            <table class="layui-table" lay-skin="nob">
                <thead>
                  <tr>
                    <th>名称</th>
                    <th>类型</th>
                    <th width="120">索引</th>
                    <th>分词器</th>
                    <th>搜索分词器</th>
                    <th width="30"></th>
                  </tr> 
                </thead>
                <tbody>
                    <empty name="$data['field']">
                    <tr>
                        <td><input name="field_name[]" type="text" class="layui-input"></td>
                        <td>
                            <select name="field_type[]" lay-filter="selectField">
                                <volist name="field_type" id="vo">
                                    <option value="{$key}">{$vo}</option>
                                </volist>
                            </select>
                        </td>
                        <td><select name="field_index[]">
                            <volist name="field_index" id="vo">
                                <option value="{$key}">{$vo}</option>
                            </volist>
                        </select>
                        </td>
                        <td>
                            <select name="field_analyzer[]">
                            <volist name="field_analyzer" id="vo">
                                <option value="{$key}">{$vo}</option>
                            </volist>
                            </select>
                        </td>
                        <td>
                            <select name="field_search_analyzer[]">
                            <volist name="field_analyzer" id="vo">
                                <option value="{$key}">{$vo}</option>
                            </volist>
                            </select>
                        </td>
                        <td><span class="del">删除</span></td>
                    </tr>
                    <else/>
                        <!-- // 编辑状态 -->
                        <volist name="$data['field']" id="vv" >
                            <tr>
                                <td><input name="field_name[]" type="text" class="layui-input" value="{$key}"></td>
                                <td>
                                    <select name="field_type[]" lay-filter="selectField">
                                        <volist name="field_type" id="vo">
                                            <option value="{$key}" <if ($key == $vv['type'])> selected </if>>{$vo}</option>
                                        </volist>
                                    </select>
                                </td>
                                <td><select name="field_index[]">
                                    <volist name="field_index" id="vo">
                                        <option value="{$key}" value="{$key}" <if (isset($vv['index']) AND $key == $vv['index'])> selected </if> >{$vo}</option>
                                    </volist>
                                </select>
                                </td>
                                <td><select name="field_analyzer[]">
                                    <volist name="field_analyzer" id="vo">
                                        <option value="{$key}" value="{$key}" <if (isset($vv['analyzer']) AND $key == $vv['analyzer'])> selected </if> >{$vo}</option>
                                    </volist>
                                </select>
                                </td>
                                <td><select name="field_search_analyzer[]">
                                    <volist name="field_analyzer" id="vo">
                                        <option value="{$key}" value="{$key}" <if (isset($vv['search_analyzer']) AND $key == $vv['search_analyzer'])> selected </if> >{$vo}</option>
                                    </volist>
                                </select>
                                </td>
                                <td><span class="del">删除</span></td>
                            </tr>
                        </volist>
                    </empty>
                </tbody>
            </table>
            <div style="margin-left: 15px;">
                <button type="button" class="layui-btn layui-btn-xs layui-btn-add">添加</button>
                <button type="reset" class="layui-btn layui-btn-xs layui-btn-danger">重置</button>
                <button class="layui-btn layui-btn-xs" lay-submit="" lay-filter="submitIframe" type="button">立即提交</button>
            </div>
        </div>
      </fieldset>

    </form>
</div>
<include file="/public/footer" />

<script>
    layui.use(['form'], function () {

        var form = layui.form;
        var jquery = layui.jquery;

        // 添加元素
        jquery('.layui-btn-add').click(function(elem) {
            var tr = jquery('tbody').find('tr:first-child').html();
            tr = tr.replace(/selected=""/g,'');
            tr = tr.replace(/<input(.*?)value="(\w+)"/g,'<input$1');
            jquery('tbody').append('<tr>'+tr+'</tr>');
            form.render();
        })

        // 删除元素
        jquery('body').on('click','.del',function(){
            var tr = jquery(this).parents('tr');
            if (tr.index() >= 1) {
                tr.remove();
            }
        })

        form.on('select(selectField)',function(data) {
            // var val = data.value, type = {
            //     'id': "self",
            //     'title': "both",
            //     'body': "mixed",
            // }
            // for (var i in type) {
            //     if (i == val) {
            //         var rs = jquery(this).parents('td').next('td');
            //         rs.children('select').val(type[i]);
            //         form.render();
            //         break;
            //     }
            // }
        })
    })
</script>
