.page .page-nav, .page .theme-default-content:not(.custom) {
    max-width: 1200px;
}

.sidebar>.sidebar-links>li:not(:first-child) {
    margin-top: 0!important;
}

.sidebar-links li .sidebar-heading span, .sidebar>.sidebar-links>li>a.sidebar-link {
    font-size: 16px!important;
}

h1 {
    font-size: 1.7rem;
}