<include file="/public/header" />
<!-- // 重定位Style -->
<style>
	.layui-card-body {
		padding: 20px;
		padding-bottom: 35px;
		overflow: hidden;
	}

	.layui-app-action {
		margin: 0px 3px;
	}
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header layuiadmin-card-header-auto ">
            <div class="layui-inline" >
                <!-- // 打开添加页面 -->
                <button class="layui-btn icon-btn" lay-open="" lay-title="{:__('添加应用')}" lay-area="600px,468px" lay-url="{:url('/system.project/add')}" >
                    <i class="layui-icon layui-icon-add-1"></i>{:__('添加')}
                </button>
            </div>
        </div>
        <div class="layui-card-body" ><volist name="list" id="vo">
        		
        	<div class="layui-col-md3" >
               	<div class="layui-app" >
                    <div class="layui-app-system">
                        <div class="layui-app-logo layui-col-xs3 layui-col-md3">
                            <img class="head" src="{$vo.logo}">
                        </div>
                        <div class="layui-app-detail layui-col-xs9 layui-col-md9">
                            <div class="layui-app-title">{$vo.name}</div>
                            <div class="layui-app-desc">{$vo.content}</div>
                        </div>
                    </div>
                    <div class="layui-app-footer">
                        <span class="layui-app-action" lay-open lay-title="编辑应用" 
                        		lay-url="{:url('/system.project/edit/')}id/{$vo.id}"  lay-area="600px,468px" >[编辑应用]</span>
                        <span class="layui-app-action" style="color: red" lay-ajax lay-url="{:url('/system.project/del/')}id/{$vo.id}" >[删除应用]</span>
                    </div>
                </div>
            </div></volist>
        </div>
    </div>
</div>
<include file="/public/footer" />
