<include file="/public/header" />
<div class="layui-fluid layui-bg-white">
    <form action="{:url('/system.database/config')}" class="layui-form layui-form-fixed">
        <div class="layui-form-item">
            <label class="layui-form-label"><font color="red">* </font>{:__('备份路径')}</label>
            <div class="layui-input-block">
                <input name="database[path]" placeholder="{:__('备份路径')}" type="text" value="{$data.path}"
                class="layui-input"  lay-verify="required" />
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">{:__('单文件大小')}</label>
            <div class="layui-input-block">
                <input name="database[part]" placeholder="{:__('单文件大小,单位字节')}" type="text" value="{$data.part}"
                class="layui-input"  lay-verify="required"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">{:__('是否压缩')}</label>
            <div class="layui-input-block">
                <select name="database[compress]" id="">
                    <option value="1" <eq name="$data.compress" value="1"> selected </eq> >开启</option>
                    <option value="0" <eq name="$data.compress" value="0"> selected </eq> >关闭</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:__('压缩率')}</label>
            <div class="layui-input-block">
                <select name="database[level]" >
                    <option value="2" <eq name="$data.level" value="2"> selected </eq> >低</option>
                    <option value="5" <eq name="$data.level" value="5"> selected </eq> >中</option>
                    <option value="9" <eq name="$data.level" value="9"> selected </eq> >高</option>
                </select>
            </div>
        </div>

        <div class="layui-footer layui-form-item layui-center"  >
            <button class="layui-btn layui-btn-primary" type="button" sa-event="closeDialog" >{:__('取消')}</button>
            <button class="layui-btn" lay-filter="submitIframe"  lay-submit>{:__('提交')}</button>
        </div>        
    </form>
</div>
<include file="/public/footer" />