<include file="/public/header" />
<div class="layui-fluid">
    <div class="layui-card">
        <!-- // 默认操作按钮 -->
        <div class="layui-card-header layuiadmin-card-header-auto ">数据库字段</div> 
        
        <table>
            <thead>
                
            </thead>
            <tbody>
                <tr>
                    <td>asd</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>



<include file="/public/footer" />
<script>
    layui.use(['admin','table'], function () {


    })
</script>
